  /* About Us */

.about-header{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
    font-weight: 700;
	margin-top: -32px;
	color: rgb(45, 105, 45);
}

.left{
	width: 50%;
	float: left;
	margin-left: 130px;
	margin-top: 80px;
}

.right{
	width: 335px;
	float: right;
	margin-right: 100px;
	margin-top: 30px;
}

.left-down{
	width: 50%;
	float: left;
	margin-left: 115px;
	margin-top: 225px;
}

.right-down{
	width: 50%;
	float: right;
	margin-right: 5px;
	margin-top: -500px;
}

/* Footer */
 
 #footer{
    margin-top: 1500px;
}

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color:#5b2a02;
    font-size: 30px;
    font-weight: 600;
    padding: 55px 0;
}

.footer h2::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color:#5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.footer{
    background: rgba(0, 0, 0, 0.856);
}

.footer-copyright{
    color: #fff;
   text-align: center;
   flex-basis: 55%;
   line-height: 3px;
   font-size: 15px;
   margin-bottom: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.footer-social i{
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px; 
}

