@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');


.about-header{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
    font-weight: 700;
	margin-top: -32px;
	color: rgb(45, 105, 45);
}

/* Form */

form{
	border: 3px solid #f1f1f1;
	width: 80%;
	height:50%;
	margin-left: auto;
	margin-right: auto;
}
  
input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
  
button{
	background-color: rgb(45, 105, 45);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
  

button:hover{
	opacity: 0.8;
}
  
.cancelbtn{
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
  
.imgcontainer{
	text-align: center;
	margin: 24px 0 12px 0;
}
  
img.avatar{
	width: 40%;
	border-radius: 50%;
}
  
.form-container{
	padding: 16px;
}
  
span.psw{
	float: right;
	padding-top: 16px;
}

@media screen and (max-width: 300px){
	span.psw {
	  display: block;
	  float: none;
	}

	.cancelbtn {
	  width: 100%;
	}
}

.col-75{
	width: 75%;
	margin-top: 10px;
}

input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

/* Contact Us */

.form{
    margin-top: 100px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    color: #9c4b09;
}

.mail{
    font-family: 'Luxurious Roman', cursive;
    color: #9c4b09;
}

.left{
	width: 30%;
	float: left;
	margin-left: 300px;
	margin-top: 220px;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    color: #9c4b09;
}

.visit{
    font-family: 'Luxurious Roman', cursive;
    color: #9c4b09;
    margin-left: -20px;
}

.right{
	width: 335px;
	float: right;
	margin-right: 155px;
	margin-top: 30px;
}

/* Footer */
 
#footer{
    margin-top: 750px;
}

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color:#5b2a02;
    font-size: 30px;
    font-weight: 600;
    padding: 55px 0;
}

.footer h2::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color:#5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.footer{
    background: rgba(0, 0, 0, 0.856);
}

.footer-copyright{
    color: #fff;
   text-align: center;
   flex-basis: 55%;
   line-height: 3px;
   font-size: 15px;
   margin-bottom: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.footer-social i{
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px; 
}
