.about-header{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
    font-weight: 700;
	margin-top: -32px;
	color: rgb(45, 105, 45);
}

/* Gallery Slider */

.row-gallery{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
  
.column-gallery{
	flex: 50%;
	padding: 0 4px;
}
  
.column-gallery img{
	margin-top: 8px;
	vertical-align: middle;
}

.header-gallery{
    text-align: center;
    padding: 1px;
}

.btn{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
  
.btn:hover{
    background-color: #ddd;
}
  
.btn.active{
    background-color: #666;
    color: white;
}
 
 /* Footer */
 
#footer{
    margin-top: 100px;
}

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color:#5b2a02;
    font-size: 30px;
    font-weight: 600;
    padding: 55px 0;
}

.footer h2::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color:#5b2a02;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.footer{
    background: rgba(0, 0, 0, 0.856);
}

.footer-copyright{
    color: #fff;
   text-align: center;
   flex-basis: 55%;
   line-height: 3px;
   font-size: 15px;
   margin-bottom: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.footer-social i{
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px; 
}

