@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Island+Moments&family=Orelega+One&family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Island+Moments&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Island+Moments&family=Luxurious+Roman&family=Orelega+One&display=swap');

*,
*::before,
*::after{
	padding: 0;
	border: 0;
} 

a,
a:link,
a:visited{
	text-decoration: none;
}

ul,
li{
	list-style: none;
	margin-left: 25px;
	font-family: 'Dongle', sans-serif;
}

.header{
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	height: 150px;
}

.header-logo{
	float: left;
    margin-left: -40px;
	margin-top: -56px;
}

.header-navbar{
	display: flex;
	justify-content: space-between;
	float: right;
}

#welcome-text{
	text-align: center;
    font-family: 'Luxurious Roman', cursive;
    font-size: 4.8rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 8px;
	margin-top: 50px;
    color:#5b2a02;
	font-weight: 300;
}

.content-text{
	text-align: center;
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
    font-weight: 700;
	margin-top: -32px;
	color: rgb(45, 105, 45);
}


ul{
	display: flex;
}

a{
	color: black;
	font-size: 30px;
	color: rgb(45, 105, 45);

}

.container{
	position: center;
	margin-top: 1px;
	margin-left: -8px;
	margin-right: -8px;
}

.row img{
	width: auto;
	height: 146px;
}

.service-header{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.slides img{
	margin-top: 80px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
	max-height: 450px;
}

.service-section{
		align-items: center;
		justify-content: space-between;
}

.service{
	margin-top: 120px;
	text-align: center;
	font-family: 'Dongle', sans-serif;
	color:#5b2a02;
	font-size: 50px;
}

.service-text{
	text-align: center;
	margin-top: -85px;
	font-family: 'Luxurious Roman', cursive;
	font-size: 20px;
}

.card{
	width: 290px;
    height: 290px;
	float: left;
	padding-left: 10px;
	margin-left: 22px;
	text-align:center;
	margin-top: 30px;
}

.card img{
	height:275px;
	width:300px;
	margin-top: -10px;
}

.card h3{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
	margin-top: 25px;
	color: rgb(69, 88, 35);
}
 
 /* slider */

* {
	box-sizing: border-box;
}
  
.container{
	position: relative;
}
  
.mySlides{
	display: none;
}
  
.cursor{
	cursor: pointer;
}
  
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 9px;
	margin-top: -100px;
	margin-left: 15%;
	margin-right: 15%;
	color: white;
	font-weight: bold;
	font-size: 50px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.562);
}
  
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
.prev:hover,.next:hover{
	background-color: rgba(0, 0, 0, 0.705);
}
  
.numbertext{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
.caption-container{
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
	font-size: 15px; 
}
  
.row:after{
	content: "";
	display: table;
	clear: both;
}
  
.column{
	float: left;
	width: 16.66%;
}
  
.demo{
	opacity: 0.6;
}
  
.active, .demo:hover{
	opacity: 1;
}

 
 
  